<div class="row">
  <div class="col-xs-12">
    <h1>Vos livres</h1>
    <div class="list-group">
      <button class="list-group-item" *ngFor="let book of books, let i = index" (click)="onView(i)">
        <h2 class="list-group-item-heading">{{ book.title }}
          <button class="btn btn-default pull-right" (click)="onDelete(book)">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </h2>
        <p class="list-group-item-text">{{ book.author }}</p>
      </button>
    </div>
    <button class="btn btn-primary" (click)="onCreate()">Ajouter un livre</button>
  </div>
</div>